.slide-page {
  height: 200px;
  width: 100%;
  display: inline-flex;
  background-color: #004bcc;
  align-items: center;
  justify-content: center;
  color: #fff;

  &.v {
    background-color: yellowgreen;
    height: 400px;
    width: 100%;
  }
}

.dots-wrapper {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);

  &.v {
    position: absolute;
    right: 8px;
    top: 50%;
    left: unset;
    transform: translateY(-50%);

    .dot {
      display: block;
      margin: 4px 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #eee;
      transition: all ease-in-out 0.3s;

      &.active {
        width: 8px;
        height: 20px;
        border-radius: 5px;
      }
    }
  }

  .dot {
    display: inline-block;
    margin: 0 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #eee;
    transition: all ease-in-out 0.3s;

    &.active {
      width: 20px;
      border-radius: 5px;
    }
  }
}
